body {
    color: aqua;
    background-color: rgb(43, 43, 46);
}
h1{
    color: rgb(243, 111, 3);
    text-align: center;
    font-size: 2cm;
    text-shadow: 3px 1.5px 17px ;
}
h2{ 
    background-color: darkslategray;
}
html{ 
    font-family: cursive;
    font-size: large;
    font-weight: bolder ;
}
section{
    background-color: darkslategray;
}
img{ height: 5cm;}
#instalogo{height: 100px ;
width: 100px;
 }

